* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.out {
    
    position: relative;
    margin: 0 auto;
    min-height: 100px;
    width: 600px;
    padding: 25px;
    background: orange;
    border: 2px solid black;
   
    & > div {
        border: 2px solid red;
        margin: 5px 0 5px 0;
        padding: 15px;
        background: grey;
        color: white;
        text-align: left;
        font-size: 20px;
    }
}

.btn {
    position: absolute;
    left: 20px;
    top:  20px;
    width: 100px;
    height: 55px;

}